# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
.vscode/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
prd.md
prompt.md

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem
*.env

# typescript
*.tsbuildinfo

app-example

# generated native folders
/ios
/android
